/* BODY */

body {
    width: 100%;
    height: 100%;
    display: table;
    padding: 10%;
    /*letter-spacing: 0.1em;*/
}

/* MAIN */

.textTitle {
    top: 0;
    left: 0;
    text-align: left;
    display: inline-block;
    width: 70%;
    height: auto;
    font-size: 8em;
    padding: 0;
}

.textQ {
    top: 0;
    left: 0;
    text-align: left;
    display: inline-block;
    width: 70%;
    height: auto;
    font-size: 4.5em;
    padding: 0;
}

.textA {
    top: 0;
    left: 0;
    text-align: left;
    display: inline-block;
    width: 70%;
    height: auto;
    font-size: 4.5em;
    padding: 0;
    color: blue;
}

/* DEFAULT LINKS */

a:link {
    text-decoration: none;
    color: #000000; 
}

a:visited {
    text-decoration: none;
    color: #000000; 
}

a:hover {
    text-decoration: none;
    border-bottom: 3px solid black;
    color: #000000; 
}

a:active {
    text-decoration: none;
    border-bottom: 3px solid white;
    color: #ffffff; 
}

/* MISC */

img {
    width: 50%;
    height: auto;
}

ul, ol {
}

li {
    list-style: none;
}

/* Questions */

/* Answers */

.radio label span{
    font-family: monospace, 'Courier 10 Pitch';
}